.ArticleMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ArticleTitle {
  flex-direction: column;
  font-size: 30px;
  color: #002c4b;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "Noto Serif JP", serif;
}

.SubText {
  font-size: 11px;
  color: #002c4b;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #002c4b;
  width: 100%;
}

.article-container {
  display: flex;
  align-items: center;
  padding: 60px 233px;
}

@media screen and (max-width: 768px) {
  .article-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
}

.img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .img-container {
    display: flex;
    align-items: center;
    flex-direction: unset;
    padding: 0px;
    margin: 10px 0;
    width: 350px;
  }
}

.title {
  font-family: "Noto Sans CJK JP", sans-serif;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 15px;
}

.sub-title {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 11px;
}

.article-image {
  height: 162px;
  margin: 0 25px;
}

@media screen and (max-width: 768px) {
  .article-image {
    width: 150px;
    height: 90px;
  }
}

.text {
  font-family: "Noto Sans CJK JP", sans-serif;
  color: #ffffff;
  font-size: 13px;
  text-align: left;
  width: 260px;
}

@media screen and (max-width: 768px) {
  .text {
    display: flex;
    align-items: center;
    flex-direction: unset;
    padding: 0px;
    margin: 20px 0;
  }
}
