/* pageGlobal */
.delpc {
	display: none;
}
.footer-container.scrollify {
	height: 100vh;
}
@mixin maxwidth($maxwidth:1920px) {
	max-width: $maxwidth;
}
@mixin sectionbox {
	width: 100%;
	height: 100vh;
	min-height: 768px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin sectiondetail {
	width: 1200px;
	margin: 0 auto;
}
main.sp_top {
	min-width: 1200px;
	a:hover img {
		@include trans(0.2s);
		cursor: pointer;
		opacity: 0.7;
	}
	a[name]:hover,a[name]:hover img { 
		cursor: default !important;
		opacity: 1.0 !important;
	}
	section {
		@include sectionbox;
		margin: auto;
		// padding-top: 55px;
		line-height: 1.8;
	}
	img {
		width: auto;
		max-width: 100%;
		max-height: calc(768px - 75px);
		height: auto;
	}
}
.section_detail {
	@include sectiondetail;
	// letter-spacing: 0.075em;
	strong {
		font-weight: bold;
		font-style: normal;
	}
	em {
		font-weight: normal;
		font-style: normal;
	}
}
.section_hgroup {
}
.section_title {
	@include jmfont;
	position: relative;
	display: block;
	margin: 0 auto;
	padding-right: 30px;
	font-size: 2.4rem;
	font-weight: bold;
	writing-mode: vertical-rl;
	letter-spacing: 0.5em;
}
.section_ruby {
	@include egfont;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1rem;
}
a.sp_top_btn_more {
	@include jmfont;
	position: relative;
	display: inline-block;
	padding: 10px 40px 10px 0;
	border-bottom: 1px solid #a4b1ba;
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.2em;
	&:after {
		@include trans(0.3s);
		content: "";
		display: block;
		position: absolute;
		top: calc(50% - 3px);
		right: 0px;
		width: 25px;
		height: 6px;
		background: url("/assets/sp/top/img/icn_arrow_gr.svg") no-repeat 50% 50%;
		background-size: 25px 6px;
	}
	&:hover {
		@include hover;
		&:after {
			right: -10px;
		}
	}
}
.sp_comingup {
	position: relative;
	.section_detail {
		-ms-filter: blur(3px);
		filter: blur(3px);
	}
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.8);
	}
	&::after {
		@include egfont;
		content: "Coming up in August";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		transform: translateY(-50%) translateX(-50%);
		display: block;
		padding: 30px 40px;
		background-color: #fff;
		box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
		border-radius: 8px;
		font-size: 2rem;
		text-align: center;
	}
}

/* animation */
.animebox {
	&.animeset {
		opacity: 0;
	}
}
@mixin upin($delay:1s) {
	position: relative;
	animation-name: upin;
	animation-duration: 1.5s;
	animation-delay: $delay;
	animation-fill-mode: forwards;
	opacity: 0;
	top: 30px;
}
@keyframes upin {
	0% {
		opacity: 0;
		top: 30px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}
@mixin downin($delay:0s) {
	position: relative;
	animation-name: downin;
	animation-duration: 1.5s;
	animation-delay: $delay;
	animation-fill-mode: forwards;
	opacity: 0;
	bottom: 30px;
}
@keyframes downin {
	0% {
		opacity: 0;
		bottom: 30px;
	}
	100% {
		opacity: 1;
		bottom: 0;
	}
}
@mixin rightin($delay:0s) {
	position: relative;
	animation-name: rightin;
	animation-duration: 1.5s;
	animation-delay: $delay;
	animation-fill-mode: forwards;
	opacity: 0;
	right: -60px;
}
@keyframes rightin {
	0% {
		opacity: 0;
		right: -60px;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}
@mixin leftin($delay:0s) {
	position: relative;
	animation-name: leftin;
	animation-duration: 1.5s;
	animation-delay: $delay;
	animation-fill-mode: forwards;
	opacity: 0;
	left: -60px;
}
@keyframes leftin {
	0% {
		opacity: 0;
		left: -60px;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
@mixin fadein($delay:0s) {
	position: relative;
	animation-name: fadein;
	animation-duration: 1.5s;
	animation-delay: $delay;
	animation-fill-mode: forwards;
	opacity: 0;
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* sp_pagenation */
.sp_pagenation {
	position: fixed;
	top: 50%;
	right: 40px;
	z-index: 4;
	transform: translateY(-50%);
	li {
		padding: 5px 0;
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
			width: 25px;
			height: 25px;
			span {
				@include trans(0.5s);
				display: block;
				width: 10px;
				height: 10px;
				background-color: #e1e5e8;
				border-radius: 10px;
				text-indent: -9999px;
			}
			&.navon span {
				background-color: #fed100;
			}
		}
	}
}


/* sp_top1 */
section.sp_top1 {
	padding-top: 0px;
	background: url("/assets/sp/top/img/top1_bg01_pc.jpg") no-repeat 50% 50%;
	background-size: cover;
	color: #fff;
	.section_detail {
	}
}
.sp_top1_detail {
}
.top1_hgroup {
	@include upin(0.5s);
	text-align: center;
	h1 {
		img {
			width: 166px;
			height: 129px;
		}
	}
	h2 {
		@include egfont;
		padding-top: 40px;
		font-size: 6.5rem;
		font-weight: 200;
		line-height: 1;
		color: #fff;
	}
}
.top1_information {
	@include upin(1s);
	text-align: center;
	h3 {
		@include egfont;
		padding-top: 60px;
		font-size: 1.6rem;
	}
	p {
		@include jmfont;
		padding-top: 30px;
		font-size: 1.8rem;
	}
}
.top1_column {
	@include upin(1.5s);
	width: 800px;
	margin: 60px auto 0;
	padding: 15px 90px;
	background-color: #fff;
	border-radius: 8px;
	a {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		color: #002c4b;
		&:hover {
			@include hover;
			.top1_column_read:after {
				right: -10px;
			}
		}
	}
	figure {
		width: 180px;
	}
}
.top1_column_read {
	position: relative;
	width: calc(100% - 180px);
	padding: 0 35px 0 30px;
	h4 {
		@include egfont;
		font-size: 1.7rem;
	}
	p {
		@include jmfont;
		padding-top: 10px;
		font-size: 1.7rem;
		font-weight: bold;
	}
	&:after {
		@include trans(0.3s);
		content: "";
		display: block;
		position: absolute;
		top: calc(50% - 3px);
		right: 0px;
		width: 25px;
		height: 6px;
		background: url("/assets/sp/top/img/icn_arrow_bl.svg") no-repeat 50% 50%;
		background-size: 25px 6px;
	}
}


/* sp_top2 */
section.sp_top2 {
	.section_detail {
	}
	p {
		font-size: 1.4rem;
		line-height: 2.8;
		&.sp_top2_caption {
			margin-top: 1em;
			font-size: 1.2rem;
		}
	}
	.sp_top2_detail1 {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		figure {
			width: 730px;
			img {
				border-radius: 10px;
			}
		}
		.sp_top2_read {
			width: calc(100% - 730px);
			padding: 60px 0 0 45px;
		}
		h2 {
			@include jmfont;
			margin-bottom: 1em;
			font-size: 1.8rem;
			font-weight: bold;
		}
	}
	.sp_top2_detail2 {
		position: relative;
		padding: 50px 50px 0 50px;
		figure {
			position: absolute;
			right: 15px;
			bottom: -60px;
			width: 523px;
		}
		.sp_top2_read {
			width: 640px;
			padding-left: 75px;
		}
		h3 {
			position: absolute;
			left: 50px;
			top: 50px;
			padding: 0;
			width: 4em;
			height: calc(100% - 50px);
			background-color: #002c4b;
			border-radius: 4px;
			span {
				@include egfont;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateY(-50%) translateX(-50%) rotate(90deg);
				display: block;
				font-size: 1rem;
				white-space: nowrap;
				line-height: 1;
				color: #fff;
			}
		}
	}
}


/* sp_top3 */
section.sp_top3 {
	background: url("/assets/sp/top/img/top3_bg01_pc.jpg") no-repeat 50% 50%;
	background-size: cover;
	.section_detail {
		padding: 0 50px;
	}
}
.sp_top3_detail {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	figure {
	}
}
.sp_top3_read {
	color: #fff;
	h2 {
		@include jmfont;
		font-size: 7rem;
		font-weight: bold;
		letter-spacing: 0.12em;
		white-space: nowrap;
	}
	p {
		@include egfont;
		padding: 35px 0 0 5px;
		font-size: 1.2rem;
	}
	&.animeon {
		@include downin(0.5s);
	}
}


/* sp_top4 */
section.sp_top4 {
	.section_detail {
		width: 100%;
	}
}
.sp_top4_detail {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	figure {
		width: 54%;
		padding-left: 40px;
		text-align: right;
		img {
			max-width: 900px;
			border-radius: 10px 0 0 10px;
		}
		&.animeon {
			@include rightin(0.5s);
		}
	}
}
.sp_top4_read {
	width: 46%;
	padding-left: calc((100% - 1200px) / 2);
}
.sp_top4_column {
	padding: 40px 0 0 20px;
	text-align: center;
	p {
		font-size: 1.6rem;
		line-height: 2.8;
	}
}


/* sp_top5 */
section.sp_top5 {
	background-color: #000;
	.section_detail {
	}
}
.sp_top5_detail {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	figure {
		width: 768px;
		margin-right: -60px;
		text-align: center;
		img {
		}
		&.animeon {
			@include fadein(0.5s);
		}
	}
}
.sp_top5_read {
	position: relative;
	z-index: 2;
	width: 432 + 60px;
	font-size: 1.6rem;
	text-align: center;
	line-height: 2.8;
	color: #fff;
}


/* sp_top6 */
section.sp_top6 {
	.section_detail {
		width: 100%;
	}
}
.sp_top6_detail {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	figure {
		width: 54%;
		padding-right: 40px;
		text-align: left;
		img {
			border-radius: 0 10px 10px 0;
		}
		&.animeon {
			@include leftin(0.5s);
		}
	}
}
.sp_top6_read {
	width: 46%;
	padding-right: calc((100% - 1200px) / 2);
	text-align: center;
	p {
		font-size: 1.6rem;
		line-height: 2.8;
	}
}


/* sp_top7 */
section.sp_top7 {
	align-items: flex-start !important;
	padding-top: 0 !important;
	.section_detail {
		width: 100%;
	}
	p {
		font-size: 1.6rem;
		line-height: 2.8;
	}
}
.sp_top7_detail {
	background-color: #000;
	p {
		color: #fff;
	}
}
.sp_top7_read {
	height: 70vh;
	background: url("/assets/sp/top/img/top7_img01_pc.jpg") no-repeat 50% 50%;
	background-size: cover;
	&.animeon {
		@include fadein(0.5s);
	}
}
.sp_top7_read_catch {
	@include sectiondetail;
	padding: 130px 50px 70px;
	&.animeon {
		@include fadein(1s);
	}
}
.sp_top7_columm {
	height: 30vh;
	padding: 40px 0;
	p {
		text-align: center;
	}
}


/* sp_top8 */
section.sp_top8 {
	.section_detail {
		@include maxwidth(1366px);
		width: 100%;
	}
}
.sp_top8_detail {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	figure {
		position: relative;
		width: 68%;
		text-align: left;
		img {
			border-radius: 0 8px 8px 0;
		}
	}
	figcaption {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 40px 5px 5px 40px;
		font-size: 1.4rem;
		text-align: right;
		vertical-align: bottom;
		background-color: #fff;
		border-radius: 8px 0 0 0;
	}
}
.sp_top8_read {
	width: 32%;
	padding-left: 20px;
	padding-right: calc((100% - 1200px) / 2);
	p {
		padding-top: 40px;
		font-size: 1.4rem;
		text-align: center;
		line-height: 2.8;
	}
}
.sp_top8_read_nav {
	padding: 30px;
	text-align: center;
}
.sp_top8_column {
	@include sectiondetail;
	padding-top: 40px;
	a {
		position: relative;
		display: block;
		em {
			@include trans(0.3s);
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 0 15px;
			background-color: rgba(0,44,75,0.5);
			font-size: 1.2rem;
			color: #fff;
			opacity: 0;
		}
		&:hover {
			em {
				opacity: 1;
			}
		}
	}
}
.sp_top8_slide {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	.slick-list {
		margin: auto;
	}
	li {
		width: 200px !important;
		margin-right: 40px;
		img {
			width: 100%;
			height: auto;
			border-radius: 8px;
			box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.16);
		}
	}
}


/* sp_top9 */
.sp_top9 {
	align-items: flex-start !important;
	padding-top: 0 !important;
	.section_detail {
		width: 100%;
	}
}
.sp_top9_detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75vh;
	background: url("/assets/sp/top/img/top9_bg01_pc.jpg") no-repeat 50% 50%;
	background-size: cover;
	color: #fff;
}
.sp_top9_hgroup {
	padding: 0 0 30px;
	text-align: center;
	h2 {
		@include jmfont;
		font-size: 2.4rem;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.5em;
		color: #fff;
	}
	p {
		padding: 15px 0 0;
		color: #fff;
		em {
			@include egfont;
		}
	}
}
.sp_top9_read {
	writing-mode: vertical-rl;
	font-size: 1.6rem;
	line-height: 2.8;
	letter-spacing: 0.5em;
}
.sp_top9_column {
	position: relative;
	top: -15vh;
}
.sp_top9_column_slide {
}
.sp_top9_column_data {
	display: none;
	width: 900px !important;
	height: 30vh;
	margin: 0 30px;
	padding: 40px 40px;
	background-color: #fff;
	box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1);
	border-radius: 8px;
	h3 {
		@include jmfont;
		font-size: 1.6rem;
		font-weight: bold;
		text-align: center;
	}
	p {
		font-size: 1.4rem;
	}
	& > p:first-child {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		text-align: center;
	}
}
.slick-initialized {
	.slick-track {
		padding-bottom: 20px;
	}
	.sp_top9_column_data {
		display: block;
	}
}
.sp_top9_column_score {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin: 0 auto;
	padding: 10px 0 20px;
	li {
		padding: 0 5px;
		img {
			width: 20px;
			height: 20px;
		}
	}
}
.sp_top9_column_read {
	overflow-y: auto;
	height: calc(30vh - 80px - 30px - 30px);
	p {
		line-height: 2;
	}
}


/* sp_top10 */
.sp_top10 {
	padding-top: 0 !important;
	background-color: #000;
	.section_detail {
		width: 100%;
		height: 100%;
		background: url("/assets/sp/top/img/top10_bg01_pc.jpg") no-repeat 50% 50%;
		background-size: cover;
		&.animeon {
			@include fadein(0.5s);
		}
	}
	p {
		text-indent: -9999px;
	}
}


/* sp_top11 */
.sp_top11 {
	.section_detail {
	}
}
.sp_top11_detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 100px 0 100px;
}
.sp_top11_read {
	width: calc(100% - 510px);
	padding-right: 90px;
}
.sp_top11_column {
	padding-top: 80px;
	h3 {
		@include jmfont;
		font-size: 1.4rem;
	}
	p {
		margin-top: 20px;
		font-size: 1.3rem;
		& + h3 {
			margin-top: 30px;
			padding-top: 30px;
			border-top: 1px solid #e1e5e8;
		}
	}
}
.sp_top11_figure {
	width: 510px;
	img {
		width: 510px;
		height: 315px;
		border-radius: 8px;
	}
	.sp_top11_figure_map {
		margin-top: 20px;
		iframe {
			width: 510px;
			height: 315px;
			border-radius: 8px;
		}
	}
}


/* sp_top12 */
.sp_top12 {
	padding-top: 0 !important;
	.section_detail {
		width: 100%;
		// padding-top: 55px;
		background-color: #002c4b;
	}
}
.sp_top12_detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sp_top12_read {
	order: 2;
	width: 25%;
	color: #fff;
	text-align: center;
}
.sp_top12_read_nav {
	padding-top: 40px;
	a {
		color: #fff;
	}
}
.sp_top12_figure {
	order: 1;
	width: 75%;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items:  flex-start;
		width: 100%;
		// height: calc(100vh - 55px);
		height: calc(100vh);
		li {
			width: 25%;
			height: 33.33%;
			background-color: #000;
			a {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
			}
			img {
				width: 100%;
				height: 100%;
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
			}
		}
	}
}
.sp_top12_figure.animeset {
	opacity: 1 !important;
	li {
		opacity: 0;
	}
}
.sp_top12_figure.animeon li {
	&:nth-child(1) {
		@include fadein(0.2s);
	}
	&:nth-child(2) {
		@include fadein(0.4s);
	}
	&:nth-child(3) {
		@include fadein(0.6s);
	}
	&:nth-child(4) {
		@include fadein(0.8s);
	}
	&:nth-child(5) {
		@include fadein(1.0s);
	}
	&:nth-child(6) {
		@include fadein(1.2s);
	}
	&:nth-child(7) {
		@include fadein(1.4s);
	}
	&:nth-child(8) {
		@include fadein(1.6s);
	}
	&:nth-child(9) {
		@include fadein(1.8s);
	}
	&:nth-child(10) {
		@include fadein(2.0s);
	}
	&:nth-child(11) {
		@include fadein(2.2s);
	}
	&:nth-child(12) {
		@include fadein(2.4s);
	}
}


/* sp_top13 */
.sp_top13 {
	.section_detail {
	}
}
.sp_top13_detail {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.sp_top13_column {
	width: 570px;
	text-align: center;
	figure {
	}
}
.sp_top13_hgroup {
	padding: 30px 0 0;
	h2 {
		@include jmfont;
		font-size: 1.6rem;
	}
	p {
		@include egfont;
		padding: 10px 0 0;
		font-size: 1rem;
	}
}
.sp_top13_read {
	padding: 30px 0 0;
	font-size: 1.3rem;
	line-height: 2.8;
}
.sp_top13_read_nav {
	padding: 30px 0 0;
}


/* sp_top14 */
.sp_top14 {
	background-color: #f5f8fc;
	.section_detail {
	}
}
.sp_top14_detail {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.sp_top14_read {
	h2 {
		@include jmfont;
		font-size: 1.8rem;
		line-height: 2.8;
	}
	p {
		padding: 30px 0 0;
		font-size: 1.3rem;
		line-height: 2.8;
	}
}
.sp_top14_figure {
	width: 640px;
	padding: 45px 45px;
	background-color: #fff;
	border-radius: 8px;
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items:  flex-start;
		width: 100%;
		li {
			width: 180px;
			height: 180px;
			margin-top: 5px;
			margin-left: 5px;
			&:nth-child(3n+1) {
				margin-left: 0;
			}
			&:nth-child(-n+3) {
				margin-top: 0;
			}
			&:nth-child(n+10) {
				display: none;
			}
			a {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				width: 180px;
				height: 180px;
			}
			img {
				width: 180px;
				height: 180px;
				max-width: 100%;
				max-height: 100%;
				object-fit: cover;
				border-radius: 8px;
			}
		}
	}
}
.sp_top14_read_nav {
	padding-top: 15px;
	li {
		padding-top: 15px;
	}
	a {
		width: 260px;
	}
}
a.sp_link_fb,
a.sp_link_ig {
	@include egfont;
	display: block;
	padding: 30px 0;
	background-color: transparent;
	border: 1px solid #a4b1ba;
	border-radius: 4px;
	font-size: 1.3rem;
	text-align: center;
	text-transform: uppercase;
	span {
		position: relative;
		padding: 0 0 0 35px;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: calc(50% - 9px);
			left: 0px;
			width: 18px;
			height: 18px;
		}
	}
	&:hover {
		@include trans(0.3s);
		background-color: #002c4b;
		color: #fff;
		&.sp_link_fb span:after {
			background: url("/assets/sp/top/img/icn_sns_fb_wh.svg") no-repeat 50% 50%;
			background-size: 18px 18px;
		}
		&.sp_link_ig span:after {
			background: url("/assets/sp/top/img/icn_sns_ig_wh.svg") no-repeat 50% 50%;
			background-size: 18px 18px;
		}
	}
}
.sp_link_fb span:after {
	background: url("/assets/sp/top/img/icn_sns_fb.svg") no-repeat 50% 50%;
	background-size: 18px 18px;
}
.sp_link_ig span:after {
	background: url("/assets/sp/top/img/icn_sns_ig.svg") no-repeat 50% 50%;
	background-size: 18px 18px;
}


/* lang-en */
html[lang="en"] {
	.section_title {
		@include egfont;
		font-weight: normal;
		padding-right: 0px;
		writing-mode: horizontal-tb;
		text-align: center;
	}
	.section_ruby {
		display: none;
	}
	.sp_top3_read {
		h2 {
			@include egfont;
			font-weight: normal;
		}
	}
	.sp_top9_hgroup {
		h2 {
			@include egfont;
			font-weight: normal;
		}
		p {
			display: none;
		}
	}
	.sp_top9_read {
		writing-mode: horizontal-tb;
		letter-spacing: 0;
	}
}
