.pc-only {
  display: block;
}
.sp-only {
  display: none;
}
@media screen and (max-width: 768px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/* =============================================
スライダー1枚目
============================================= */
.top1-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  /* background-image: url('../../top/img/top1.jpg'); */
  background-image: url('../img/top1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 768px;
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  .top1-main-container {
    max-width: 100%;
  }
}

.top1-title-img {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 3.5rem;
  line-height: 1;
  margin: 0;
}

.top1-sub-title {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 6.5rem;
  letter-spacing: 10px;
  font-weight: 300;
  margin: 20px 0 0 0;
}
@media screen and (max-width: 768px) {
  .top1-sub-title {
    font-size: 3.2rem;
    width: 311px;
  }
}

.top1-date-text {
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 1.4rem;
  margin: 40px 0;
}

@media screen and (max-width: 768px) {
  .top1-date-text {
    margin: 37px 0 22px 0;
  }
}

.top1-text {
  font-family: 'Noto Serif CJK JP', serif;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .top1-text {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
    width: 65.6%;
  }
}

.top1-under-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 8px;
  line-height: 2;
  padding: 5px 70px;
}

@media screen and (max-width: 768px) {
  .top1-under-container {
    width: 340px;
    height: 93px;
    padding: 10px;
  }
}

.top1-under-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .top1-under-left-img {
    width: 112px;
    height: 63px;
    margin: 0;
  }
}

.top1-text-container {
  margin: 15px;
  padding: 8px 30px;
}
@media screen and (max-width: 768px) {
  .top1-text-container {
    margin: 5px;
  }
}

.under-p-1 {
  font-family: 'Noto Serif CJK JP', serif;
  color: #002c4b;
  font-size: 1.7rem;
  margin: 1px;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .under-p-1 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0;
  }
}

.under-p-2 {
  font-family: 'Noto Serif JP', serif;
  color: #002c4b;
  font-weight: 500;
  font-size: 1.7rem;
  margin: 1px;
}

@media screen and (max-width: 768px) {
  .under-p-2 {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0;
  }
}

/* =============================================
スライダー2枚目
============================================= */
.top2-main-container {
  max-width: 1150px;
  margin: 49px auto 58px;
}

@media screen and (max-width: 768px) {
  .top2-main-container {
    padding: 0 16px;
    margin: 30px auto 13px;
  }
}

.top2-upper-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .top2-upper-container {
    display: flex;
    flex-direction: column;
  }
}

.top2-upper-text-container {
  width: 32.608%;
  margin-top: 72px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-upper-text-container {
    width: 63.478%;
    margin-top: 30px;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .top2-upper-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-top: 19px;
  }
}

.top2-upper-img {
  height: 447.73px;
  width: 63.478%;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-upper-img {
    max-height: 447px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .top2-upper-img {
    width: 100%;
    height: 208.53px;
  }
}

.top2-upper-title {
  font-weight: bold;
  font-size: 1.8rem;
  color: #002c4b;
}
@media screen and (max-width: 768px) {
  .top2-upper-title {
    font-size: 1.6rem;
  }
}

.top2-upper-text {
  color: #002c4b;
  font-size: 1.4rem;
  line-height: 36px;
  margin-top: 20px;
  letter-spacing: .03em;
}

@media screen and (max-width: 768px) {
  .top2-upper-text {
    line-height: 28px;
    margin-top: 11px;
  }
}

@media screen and (max-width: 768px) {
  .pc-br {
    display: none;
  }
}

.top2-under-container {
  display: flex;
  position: relative;
  margin: 48px 0 0 50px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-under-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto;
  }
}

@media screen and (max-width: 768px) {
  .top2-under-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 10px 0 0 0;
  }
}

.top2-under-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-under-left {
    position: unset;
    margin: 2px 4px;
  }
}

@media screen and (max-width: 768px) {
  .top2-under-left {
    position: unset;
    align-items: stretch;
  }
}

.top2-a {
  text-decoration: none;
}

.top2-under-btn {
  writing-mode: vertical-rl;
  background-color: #002c4b;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 25px 12px;
  border-radius: 5px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .top2-under-btn {
    padding: 12px 13px;
    letter-spacing: .25em;
    height: 132px;
  }
}

.top2-under-text1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.4rem;
  color: #002c4b;
  line-height: 36px;
  margin: 0;
  letter-spacing: .03em;
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .top2-under-text1 {
    line-height: 28px;
    margin-left: 10px;
    margin: auto;
  }
}

.top2-under-text2 {
  display: flex;
  font-size: 1.2rem;
  color: #002c4b;
}

.top2-under-img {
  position: absolute;
  display: flex;
  color: #002c4b;
  font-size: 1.2rem;
  height: 403px;
  bottom: -49px;
  right: 10px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-under-img {
    position: unset;
    bottom: unset;
    right: unset;
    /*    width: 100%; アスペクト比が崩れるためコメントアウト*/
    max-height: 403px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .top2-under-img {
    position: unset;
    width: 59.8%;
    height: auto;
  }
}

/* =============================================
スライダー3枚目
============================================= */
.top3-main-container {
  display: flex;
  align-items: center;
  background-image: url('../img/top3_1.jpg');
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  height: 768px;
  padding: 130px 0;
}

@media screen and (min-width: 769px) {
  .top3-main-container {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .top3-main-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .top3-main-container {
    flex-direction: column;
    height: 812px;
    padding: 186px 0 177px 0;
  }
}

.top3-left-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .top3-left-container {
    margin-top: 50px;
  }
}

.top13-right-text-container {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .top3-left-container {
    margin-top: 50px;
  }
}

.top3-title {
  font-family: 'Noto Serif CJK JP', serif;
  font-size: 7rem;
  margin-bottom: 35px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: .15em;
  line-height: 84px;
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .top3-title {
    font-size: 5rem;
    line-height: 70px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .top3-title {
    font-size: 3.6rem;
    line-height: 43px;
    margin-bottom: 20px;
  }
}

.top3-sub-title {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: Regular;
  color: #ffffff;
}

.top3-right-container {
  position: relative;
}

.top3-right-img {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .top3-right-img {
    width: 79.2%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .top3-right-img {
    width: 297.92px;
    height: 277.44px;
    margin-top: 40px;
  }
}

.top3-right-icon {
  position: absolute;
  width: 40.9px;
  height: 46.4px;
  top: 240px;
  right: 150px;
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
  .top3-right-icon {
    position: absolute;
    width: 40.9px;
    height: 46.4px;
    top: 228px;
    right: 250px;
  }
}

@media screen and (max-width: 768px) {
  .top3-right-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 172px;
    right: 100px;
  }
}

/* =============================================
スライダー4枚目
============================================= */
.top4-main-container {
  display: flex;
  padding: 59px 0;
  justify-content: flex-end;
}

@media screen and (min-width: 769px) and (max-width: 880px) {
  .top4-main-container {
    flex-direction: column;
    padding: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .top4-main-container {
    flex-direction: column;
    padding: 25px 0 19px 0;
  }
}

.top4-left-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 7.829%;
  margin-top: 83px;
}

@media screen and (min-width: 769px) and (max-width: 880px) {
  .top4-left-container {
    margin-right: 0;
    margin-top: 0;
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .top4-left-container {
    margin-right: 0;
    margin-top: 0;
    padding: 0 16px;
  }
}

.top4-left-inner {
  display: flex;
  justify-content: center;
}

.top4-title,
.top4-text1 {
  writing-mode: vertical-rl;
  text-align: left;
  letter-spacing: .2rem;
}

.top4-title {
  font-family: 'Noto Serif CJK JP', serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .15em;
  margin-right: 15px;
}

.top4-text1 {
  font-size: 1rem;
  font-family: Poppins;
}

.top4-left-img {
  width: 51px;
  height: 312px;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .top4-left-img {
    width: 400px;
    height: 350px;
    margin-right: 0;
    max-width: 100%;
  }
}

.top4-text2 {
  font-size: 1.6rem;
  line-height: 35px;
  text-align: center;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .top4-text2 {
    font-size: 1.4rem;
    line-height: 28px;
  }
}
.top4-right-img {
  width: 100%;
  height: auto;
  max-width: 650px;
}

@media screen and (max-width: 768px) {
  .top4-right-img {
    height: 357px;
    margin-top: 30px;
    padding-left: 16px;
    margin-left: auto;
    display: block;
  }
}

@media screen and (min-width: 769px) and (max-width: 880px) {
  .top4-right-img {
    height: 357px;
    margin-top: 30px;
    margin-left: auto;
    display: block;
  }
}

/* =============================================
スライダー5枚目
============================================= */
.top5-main-container {
  background-color: black;
  max-height: 768px;
}
@media screen and (max-width: 768px) {
  .top5-main-container {
    flex-direction: column;
    align-items: center;
  }
}

.top5-main-inner {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .top5-main-inner {
    flex-direction: column;
    padding: 60px 0 100px;
  }
}
.top5-left-img {
  width: 57.49%;
  max-height: 768px;
}
@media screen and (max-width: 768px) {
  .top5-left-img {
    width: 375px;
    height: 375px;
  }
}

.top5-text {
  display: flex;
  font-size: 1.6rem;
  line-height: 46px;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .top5-text {
    font-size: 1.4rem;
    line-height: 28px;
  }
}

/* =============================================
スライダー6枚目
============================================= */
.top6-main-cotainer {
  display: flex;
  align-items: center;
  height: 768px;
}
@media screen and (max-width: 768px) {
  .top6-main-cotainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 160px 0;
  }
}
.top6-main-contents {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .top6-main-contents {
    flex-direction: column;
  }
}
.top6-img {
  width: 66.421%;
  max-width: 880px;
  max-height: 544px;
}
@media screen and (max-width: 768px) {
  .top6-img {
    width: 100%;
    height: auto;
    padding-right: 16px;
  }
}

.top6-text {
  display: flex;
  font-size: 1.6rem;
  line-height: 40px;
  color: #002c4b;
  text-align: center;
  margin-left: 70px;
}

@media screen and (max-width: 768px) {
  .top6-text {
    font-size: 1.4rem;
    line-height: 28px;
    margin-top: 50px;
    margin-left: 0;
  }
}

/* =============================================
スライダー7枚目
============================================= */
.top7-main-container {
  height: 768px;
}

.top7-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 600px;
  /* background-image: url('../../top/img/top7_img.jpg'); */
  background-image: url('../img/top7_img.jpg');
}

.top7-upper-text {
  position: absolute;
  font-size: 1.6rem;
  line-height: 46px;
  top: 50px;
  left: 100px;
  letter-spacing: .03em;
  color: #ffffff;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .top7-upper-text {
    top: 20px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 28px;
    text-align: center;
    padding: 10px;
  }
}

.top7-under-text {
  font-size: 1.6rem;
  line-height: 46px;
  letter-spacing: .03em;
  color: #002c4b;
  text-align: center;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .top7-under-text {
    margin-top: 50px;
    font-size: 1.4rem;
    line-height: 28px;
    padding: 10px;
  }
}

/* =============================================
スライダー8枚目
============================================= */
.top8-main-container {
  padding: 73px 0 74px 0;
  height: 768px;
}
@media screen and (max-width: 768px) {
  .top8-main-container {
    height: auto;
    margin-top: 50px;
  }
}

.top8-upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
@media screen and (max-width: 1700px) {
  .top8-upper-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .top8-upper-container {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.top8-left-container {
  position: relative;
  height: 460px;
  width: 929px;
}
@media screen and (max-width: 768px) {
  .top8-left-container {
    position: unset;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 50px 0;
  }
}

.top8-left-img {
  height: 460px;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .top8-left-img {
    height: auto;
    width: 100%;
    border-radius: 0 8px 8px 0;
    margin-right: 24px;
  }
}

/*仕様変更のためコメントアウト
.top8-text-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40px;
  width: 342px;
  background-color: #ffffff;
  border-radius: 8px 0 0 0;
  right: 0;
  bottom: 0;
  text-align: end;
}

@media screen and (max-width: 768px) {
  .top8-text-container {
    display: none;
    position: unset;
  }
}

.top8-text1 {
  font-size: 14px;
  color: #002c4b;
}
*/

@media screen and (max-width: 768px) {
  .top8-text1 {
    display: none;
  }
}

.top8-sp-text1 {
  display: none;
}
@media screen and (max-width: 768px) {
  .top8-sp-text1 {
    display: block;
    font-size: 1.4rem;
    color: #002c4b;
    margin-top: 20px;
  }
}
.top8-right-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  .top8-right-container {
    margin-left: 0;
  }
}
.top8-right-inner {
  display: flex;
  justify-content: center;
}

.top8-title,
.top8-text2 {
  writing-mode: vertical-rl;
}

.top8-title {
  font-family: 'Noto Serif CJK JP', serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .15em;
  margin-right: 15px;
}

.top8-text2 {
  font-size: 1rem;
  font-family: Poppins;
  text-align: left;
  letter-spacing: .2rem;
}

.top8-text3 {
  font-size: 1.6rem;
  line-height: 35px;
  color: #002c4b;
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .top8-text3 {
    font-size: 1.4rem;
    line-height: 28px;
  }
}
.top8-under-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .top8-under-container {
    margin-top: 0;
  }
}
.top8-img-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .top8-img-list {
    gap: 16px;
    overflow-x: scroll;
    padding: 8px 0 16px 16px;
  }
}

.top8-img-list li {
  flex: 1;
  position: relative;
}

.image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 1.4rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
  width: 100%;
  max-width: 150px;
}

.top8-img-list li:hover .image-caption {
  visibility: visible;
  opacity: .5;
  cursor: pointer;
}

.top8-img-list li:hover img {
  transform: translateY(-5px);
  transition: transform 0.3s;
  cursor: pointer;
}

.top8-img {
  width: 200px;
  height: 120px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.top8-img:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.top8-img1 {
  width: 200px;
  height: 120px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .top8-img1 {
    display: none;
  }
}

.top8-img1:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.top8-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border-bottom: 1px solid #a4b1ba;
  width: 126px;
  margin: 50px auto 0;
}

.top8-more-btn:hover {
  opacity: .4;
}

.top8-text-btn {
  font-size: 1.1rem;
  padding: 5px;
  margin-right: 10px;
  color: #002c4b;
}

.top8-arrow-icon {
  width: 25px;
  height: 3px;
  color: #a4b1ba;
}

/* =============================================
スライダー9枚目
============================================= */
.top9-main-container {
  height: 768px;
}
@media screen and (max-width: 768px) {
  .top9-main-container {
    height: auto;
  }
}
.top9-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../top/img/top9_img.jpg') center / cover no-repeat;
  /* background-image: url('/asets/top/img/top9_img.jpg'); */
  height: 588px;
}
@media screen and (max-width: 768px) {
  .top9-container {
    align-items: start;
    padding-top: 80px;
  }
}

/* .top9-container::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  } */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 44, 75, 0.7);
  mix-blend-mode: multiply;
}
.top9-content {
  position: relative;
}
.top9-left-inner {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.top9-title {
  font-family: 'Noto Serif CJK JP', serif;
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: .15em;
  color: #ffffff;
}

.top9-text1 {
  text-align: center;
  margin-top: 10px;
  font-size: 1.1rem;
  letter-spacing: .2rem;
  font-family: Poppins;
  color: #ffffff;
}

.top9-text2 {
  font-size: 1.6rem;
  font-family: Poppins;
  color: #ffffff;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 48px;
  letter-spacing: .5rem;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  .top9-title {
    font-size: 18px;
  }
}

.top9-card-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  bottom: -100px;
  /*  overflow-x: scroll;
  overflow-y: visible;*/
  width: 100%;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 40px;
}

.top9-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 993px;
  height: 211.56px;
  border-radius: 8px;
  margin: 0 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}

.top9-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top9-card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 340px;
  height: 211.56px;
  border-radius: 8px;
  margin: 0 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .top9-card-container {
    bottom: 0;
    width: 100%;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
  .top9-card {
    width: 100%;
    margin: 0;
  }
  .top9-card1 {
    display: none;
  }
  .top9-card-container a {
    display: block;
    width: 100%;
  }
  .top9-card-sp-display-none {
    display: none;
  }
}

.top9-card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* =============================================
スライダー10枚目
============================================= */
.top10-main-container {
  height: 768px;
  background-size: cover;
  background-position: center;
  /* background-image: url('../../top/img/top10_img.jpg'); */
  background-image: url('../img/top10_img.jpg');
}
@media screen and (max-width: 768px) {
  .top10-main-container {
    height: 812px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
  }
}

/* =============================================
スライダー11枚目
============================================= */
.top11-main-container {
  display: flex;
  justify-content: space-evenly;
  padding: 62px 0 61px 0;
  height: 768px;
}
@media screen and (max-width: 768px) {
  .top11-main-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 100px;
    padding: 0;
  }
}

.top11-left-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.top11-left-inner {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
@media screen and (max-width: 768px) {
  .top11-left-container {
    width: 100%;
    align-items: center;
    margin-bottom: 60px;
  }
  .top11-left-inner {
    margin-bottom: 40px;
  }
}

.top11-title,
.top11-text1 {
  writing-mode: vertical-rl;
  letter-spacing: .2rem;
}

.top11-title {
  font-family: 'Noto Serif CJK JP', serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .15em;
  margin-right: 15px;
}

.top11-text1 {
  font-size: 1rem;
  font-family: Poppins;
}

.top11-line {
  margin: 25px 0;
  border: 1px solid #e1e5e8;
  width: 400px;
}
@media screen and (max-width: 768px) {
  .top11-line {
    margin: 20px 0;
    width: 90%;
  }
}

.top11-left-text {
  color: #002c4b;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .top11-left-text {
    width: 100%;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
  }
}

.top11-right-container {
  flex-direction: column;
  align-items: center;
}

.top11-img {
  width: 510px;
  height: 315px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.top11-right-container iframe {
  width: 510px;
  height: 315px;
}
@media screen and (max-width: 768px) {
  .top11-img {
    width: 100%;
    padding: 0 16px;
  }
  .top11-right-container iframe {
    width: 100%;
    padding: 0 16px;
    height: 315px;
  }
}

/* =============================================
スライダー12枚目
============================================= */
.top12-main-container {
  display: flex;
  align-items: center;
  height: 768px;
}
@media screen and (max-width: 768px) {
  .top12-main-container {
    flex-direction: column-reverse;
    align-items: center;
    height: 812px;
    margin-bottom: 50px;
  }
}

.top12-left-img {
  flex: 8;
  width: 76.646%;
  height: 768px;
  object-fit: fill;
}
@media screen and (max-width: 768px) {
  .top12-left-img {
    display: none;
  }
}

.top12-left-img2 {
  display: none;
}
@media screen and (max-width: 768px) {
  .top12-left-img2 {
    display: block;
    flex-direction: row-reverse;
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.top12-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #002c4b;
  width: 342px;
  height: 768px;
}
@media screen and (max-width: 768px) {
  .top12-right-container {
    height: 312px;
    width: 100%;
    padding: 35px;
  }
}

.top12-right-text-container {
  display: flex;
  margin-bottom: 50px;
}

.top12-right-title {
  font-size: 2.2rem;
  margin-right: 10px;
  color: #ffffff;
  writing-mode: vertical-rl;
}

.top12-right-sub {
  font-size: 1rem;

  color: #ffffff;
  writing-mode: vertical-rl;
}

.top12-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.top12-more-btn:hover {
  opacity: .4;
}

.top12-text-btn {
  font-size: 11px;
  padding: 5px;
  margin-right: 10px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.top12-arrow-icon {
  width: 25px;
  height: 3px;
}

/* =============================================
スライダー13枚目
============================================= */
.top13-main-container {
  display: flex;
  justify-content: space-evenly;
  height: 768px;
}
@media screen and (max-width: 768px) {
  .top13-main-container {
    flex-direction: column;
    align-items: center;
    height: 812px;
    margin: 50px auto;
  }
}

.top13-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .top13-left-container {
    padding: 10px;
  }
}

.top13-left-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top13-left-img {
  display: flex;
  justify-content: center;
  width: 570px;
  height: 290px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .top13-left-img {
    width: 260px;
    height: 132.28px;
  }
}

.top13-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .top13-right-container {
    padding: 10px;
  }
}

.top13-right-img {
  width: 570px;
  height: 290px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .top13-right-img {
    width: 260px;
    height: 132.28px;
  }
}

.top13-title {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  object-fit: cover;
  color: #002c4b;
  margin-top: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .top13-title {
    margin: 10px 0 2px 0;
  }
}

.top13-sub-title {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  object-fit: cover;
  color: #002c4b;
}

.top13-sub-title:hover {
  opacity: .5;
}

.top13-text {
  font-size: 1.3rem;
  object-fit: cover;
  color: #002c4b;
  line-height: 35px;
  text-align: center;
  margin-top: 31px;
}
@media screen and (max-width: 768px) {
  .top13-text {
    text-align: left;
    line-height: 26px;
  }
}

.top13-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin-top: 15px;
  border-bottom: 1px solid #002c4b;
  width: 126px;
}

.top13-more-btn:hover {
  opacity: .4;
}

.top13-text-btn {
  font-size: 1.1rem;
  padding: 5px;
  margin-right: 10px;
  color: #002c4b;
}

.top13-arrow-icon {
  width: 25px;
  height: 3px;
}

/* =============================================
スライダー14枚目
============================================= */
.top14-main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 768px;
  padding: 64px 0;
  background-color: #f5f8fc;
}
@media screen and (max-width: 768px) {
  .top14-main-container {
    flex-direction: column;
    align-items: center;
  }
}

.top14-left-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
@media screen and (max-width: 768px) {
  .top14-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.top14-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 640px;
  width: 640px;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .top14-right-container {
    height: 338px;
    width: 338px;
  }
}

.top14-title {
  font-family: 'Noto Serif CJK JP', serif;
  font-size: 1.8rem;
  color: #002c4b;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: .3em;
}
@media screen and (max-width: 768px) {
  .top14-title {
    display: flex;
    text-align: center;
  }
}

.top14-text {
  font-size: 1.3rem;
  color: #002c4b;
  line-height: 35px;
  text-align: left;
  line-height: 32px;
  letter-spacing: .1em;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .top14-text {
    text-align: center;
    line-height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .top14-sns-container {
    display: flex;
    margin: 24px 0;
  }
}

.top14-facebook-btn {
  cursor: pointer;
  border: 1px solid #a4b1ba;
  padding: 30px 80px;
  font-size: 1.2rem;
  color: #002c4b;
  display: flex;
  align-items: center;
  margin: 5px;
  margin-top: 35px;
  border-radius: 2px;
}
.top14-facebook-btn:hover {
  opacity: .5;
}
.top14-instagram-btn {
  cursor: pointer;
  border: 1px solid #a4b1ba;
  padding: 30px 80px;
  font-size: 1.2rem;
  color: #002c4b;
  display: flex;
  align-items: center;
  margin: 5px;
  margin-top: 15px;
  border-radius: 2px;
}
.top14-instagram-btn:hover {
  opacity: .5;
}
@media screen and (max-width: 768px) {
  .top14-facebook-btn {
    padding: 16px 24px;
    margin-top: 0;
  }
  .top14-instagram-btn {
    padding: 16px 24px;
    margin-top: 0;
  }
}

.top14-facebook-icon {
  cursor: pointer;
  width: 8.95px;
  height: 16.64px;
  margin-right: 10px;
}

.top14-instagram-icon {
  cursor: pointer;
  color: #002c4b;
  width: 16.64px;
  height: 16.64px;
  margin-right: 10px;
}

/* 
  スナップスクロール
*/

.scrollify {
  width: 100%;
  height: 768px;
  padding-top: 53px;
}

.page_wrap {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.page_wrap li {
  margin-bottom: 20px;
}

.page_wrap a {
  border: 1px solid #000;
  border-radius: 50%;
  display: block;
  width: 10px;
  height: 10px;
}
.page_wrap a.active {
  background: #000;
}
