.top2-main-container {
  max-width: 1150px;
  margin : 49px auto 58px;
}

@media screen and (max-width: 768px) {
  .top2-main-container {
    padding: 0 16px;
    margin : 30px auto 13px;
 }
}

.top2-upper-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .top2-upper-container {
    display: flex;
    flex-direction: column;
  }
}

.top2-upper-text-container{
  width: 32.608%;
  margin-top: 72px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-upper-text-container {
    width: 63.478%;
    margin-top: 30px;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .top2-upper-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-top: 19px;
  }
}

.top2-upper-img {
  height: 447.73px;
  width: 63.478%;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-upper-img {
    max-height: 447px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .top2-upper-img {
    width: 100%;
    height: 208.53px;
  }
}

.top2-upper-title {
  font-weight: bold;
  font-size: 18px;
  color: #002c4b;
}
@media screen and (max-width: 768px) {
  .top2-upper-title {
    font-size: 16px;
  }
}

.top2-upper-text {
  color: #002c4b;
  font-size: 1.4rem;
  line-height: 36px;
  margin-top: 20px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 768px) {
  .top2-upper-text {
    line-height: 28px;
    margin-top: 11px;
  }
}

@media screen and (max-width: 768px) {
  .pc-br {
    display: none;
  }
}


.top2-under-container {
  display: flex;
  position: relative;
  margin: 48px 0 0 50px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-under-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto;
  }
}

@media screen and (max-width: 768px) {
  .top2-under-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 10px 0 0 0;
  }
}

.top2-under-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-under-left {
    position: unset;
    margin: 2px 4px;
  }
}

@media screen and (max-width: 768px) {
  .top2-under-left {
    position: unset;
    align-items: stretch;
  }
}

.top2-a {
  text-decoration: none;
}

.top2-under-btn {
  writing-mode: vertical-rl;
  background-color: #002c4b;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  padding: 25px 12px;
  border-radius: 5px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .top2-under-btn {
    padding: 22px 12px;
    letter-spacing: 0.25em;
    height: 132px;
  }
}

.top2-under-text1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  color: #002c4b;
  line-height: 36px;
  margin: 0;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 768px) {
  .top2-under-text1 {
    line-height: 28px;
    margin-left: 10px;
    margin: auto;
  }
}

.top2-under-text2 {
  display: flex;
  font-size: 12px;
  color: #002c4b;
}

.top2-under-img {
  position: absolute;
  display: flex;
  color: #002c4b;
  font-size: 12px;
  height: 403px;
  bottom: -49px;
  right: 10px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top2-under-img {
    position: unset;
    bottom: unset;
    right: unset;
    weight:100%;
    max-height: 403px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .top2-under-img {
    position: unset;
    width: 59.8%;
    height: auto;
  }
}
