.top5-main-container {
  background-color: black;
  max-height: 100vh;
}
@media screen and (max-width: 768px) {
  .top5-main-container {
    flex-direction: column;
    align-items: center;
  }
}

.top5-main-inner {
  display: flex;
  align-items: center;
}

.top5-left-img {
  width: 57.49%;
  max-height: 768px;
}
@media screen and (max-width: 768px) {
  .top5-left-img {
    width: 375px;
    height: 375px;
  }
}

.top5-text {
  display: flex;
  font-size: 16px;
  line-height: 46px;
  color: #ffffff;
  text-align: center;
}
