.top9-main-container {
  height: 100vh;
}

.top9-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../top/img/top9_img.jpg");
  /* background-image: url("/asets/top/img/top9_img.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 588px;
}

/* .top9-container::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  } */

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 44, 75, 0.5);
} */

.top9-left-inner {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.top9-title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 0.15em;
  margin-right: 15px;
  color: #ffffff;
}

.top9-text1 {
  text-align: center;
  margin-top: 6px;
  font-size: 1.7rem;
  font-family: Poppins;
  color: #ffffff;
}

.top9-text2 {
  font-size: 1.6rem;
  font-family: Poppins;
  color: #ffffff;
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 30px;
  margin-top: 15px;
}

.top9-card-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  bottom: -100px;
}

.top9-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 993px;
  height: 211.56px;
  border-radius: 8px;
  margin: 0 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.top9-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top9-card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 340px;
  height: 211.56px;
  border-radius: 8px;
  margin: 0 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .top9-card1 {
    display: none;
  }
}

.top9-card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
