.top14-main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 64px 0;
  background-color: #f5f8fc;
}
@media screen and (max-width: 768px) {
  .top14-main-container {
    flex-direction: column;
    align-items: center;
  }
}

.top14-left-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
@media screen and (max-width: 768px) {
  .top14-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.top14-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 640px;
  width: 640px;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .top14-right-container {
    height: 338px;
    width: 338px;
  }
}

.top14-title {
  font-size: 1.8em;
  color: #002c4b;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .top14-title {
    display: flex;
    text-align: center;
  }
}

.top14-text {
  font-size: 13px;
  color: #002c4b;
  line-height: 35px;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0.3em;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .top14-text {
    text-align: center;
    line-height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .top14-sns-container {
    display: flex;
  }
}

.top14-facebook-btn {
  cursor: pointer;
  border: 1px solid #a4b1ba;
  padding: 30px 80px;
  font-size: 12px;
  color: #002c4b;
  display: flex;
  align-items: center;
  margin: 5px;
  margin-top: 35px;
  border-radius: 2px;
}

.top14-facebook-btn:hover {
  opacity: 0.5;
}

.top14-instagram-btn {
  cursor: pointer;
  border: 1px solid #a4b1ba;
  padding: 30px 80px;
  font-size: 12px;
  color: #002c4b;
  display: flex;
  align-items: center;
  margin: 5px;
  margin-top: 15px;
  border-radius: 2px;
}

.top14-instagram-btn:hover {
  opacity: 0.5;
}

.top14-facebook-icon {
  cursor: pointer;
  width: 8.95px;
  height: 16.64px;
  margin-right: 10px;
}

.top14-instagram-icon {
  cursor: pointer;
  color: #002c4b;
  width: 16.64px;
  height: 16.64px;
  margin-right: 10px;
}
