.top4-main-container {
  display: flex;
  padding: 59px 0;
  justify-content: flex-end;
}

@media screen and (min-width: 769px) and (max-width: 880px) {
  .top4-main-container {
    flex-direction: column;
    padding: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  .top4-main-container {
    flex-direction: column;
    padding: 25px 0 19px 0;
  }
}

.top4-left-container{
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 7.829%;
  margin-top: 83px
}

@media screen and (min-width: 769px) and (max-width: 880px) {
  .top4-left-container{
    margin-right: 0;
    margin-top: 0;
    padding: 0 16px;
  }
}

@media screen and (max-width: 768px) {
  .top4-left-container{
    margin-right: 0;
    margin-top: 0;
    padding: 0 16px;
  }
}

.top4-left-inner{
  display: flex;
  justify-content: center;
}

.top4-title, .top4-text1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.top4-title{
 font-size: 2rem;
 font-weight: bold;
 letter-spacing: 0.15em;
 margin-right: 15px
}

.top4-text1{
  font-size: 1rem;
  font-family: Poppins;
}

.top4-left-img {
  width: 51px;
  height: 312px;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .top4-left-img {
    width: 400px;
    height: 350px;
    margin-right: 0;
    max-width: 100%;
  }
}

.top4-text2{
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  margin-top: 40px
}

.top4-right-img {
  width: 100%;
  height: auto;
  max-width: 650px;
}

@media screen and (max-width: 768px) {
  .top4-right-img {
    height: 357px;
    margin-top: 30px;
    padding-left:16px;
    margin-left: auto;
    display: block;
  }
}

@media screen and (min-width: 769px) and (max-width: 880px) {
  .top4-right-img {
    height: 357px;
    margin-top: 30px;
    margin-left: auto;
    display: block;
  }
}

