.top1-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
  background-image: url("../../top/img/top1.jpg");
  /* background-image: url("/assets/sp/top/img/top1.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  .top1-main-container {
    max-width: 100%;
  }
}

.top1-title-img {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 35px;
  line-height: 1;
  margin: 0;
}

.top1-sub-title {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 65px;
  letter-spacing: 10px;
  font-weight: 300;
  margin: 20px 0 0 0;
}
@media screen and (max-width: 768px) {
  .top1-sub-title {
    font-size: 32px;
    width: 311px;
  }
}

.top1-date-text {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 40px 0;
}

.top1-text {
  font-family: "Noto Serif CJK JP", serif;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .top1-text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.top1-under-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 8px;
  line-height: 2;
  padding: 5px 70px;
}

@media screen and (max-width: 768px) {
  .top1-under-container {
    width: 340px;
    height: 93px;
    padding: 10px;
  }
}
.top1-under-container:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .top1-under-left-img {
    width: 112px;
    height: 63px;
    margin: 0;
  }
}

.top1-text-container {
  margin: 15px;
  padding: 8px 30px;
}
@media screen and (max-width: 768px) {
  .top1-text-container {
    margin: 5px;
  }
}

.under-p-1 {
  font-family: "Noto Serif CJK JP", serif;
  color: #002c4b;
  font-size: 17px;
  margin: 1px;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .under-p-1 {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
  }
}

.under-p-2 {
  font-family: "Noto Serif JP", serif;
  color: #002c4b;
  font-weight: 500;
  font-size: 17px;
  margin: 1px;
}

@media screen and (max-width: 768px) {
  .under-p-2 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0;
  }
}
