#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  width: 100%;
  padding: 8px;
  padding-inline: 16px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 200;
}
#header a {
  transition: 0.3s ease;
}

#header.HeightMin {
  position: fixed;
  z-index: 100; /*最前面へ*/
  height: 53px;
  animation: DownAnime 0.5s forwards;
  background-color: #002c4b;
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-170px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-title {
  font-size: 1.4rem;
  letter-spacing: .5rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  cursor: pointer;
}

.header-title:hover {
  opacity: .5;
}

.detail-container {
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
}

@media screen and (max-width: 1100px) {
  #header {
    padding-inline: 16px;
  }
  .header-title {
    font-size: 1.2rem;
    letter-spacing: .4rem;
  }
  .detail-container {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
}

.detail a {
  position: relative;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin-right: 20px;
  color: white;
  letter-spacing: 0.3rem;
  transition: 0.3s ease;
  padding: 12px 0;
}
.detail a:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1100px) {
  .detail {
    z-index: 100;
    font-size: 2rem;
    margin: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.detail ::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  visibility: hidden;
}

.detail.selected::before {
  visibility: visible;
}

.right-side-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .right-side-btn {
    display: none;
  }
}

.lang-btns-container {
  display: flex;
  border: none;
  margin-right: 30px;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .lang-btns-container {
    margin-right: 0;
  }
}

.lang-btn1 {
  font-family: 'Noto Sans CJK JP', sans-serif;
  border: 1px solid white;
  border-radius: 4px 0 0 4px;
  padding: 8px 13px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans CJK JP', sans-serif;
  background: transparent;
  border: 1px solid white;
  padding: 8px 13px;
  border-right: none;
  border-left: none;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 0.2rem;
}

.lang-btn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans CJK JP', sans-serif;
  background: transparent;
  border: 1px solid white;
  border-radius: 0 4px 4px 0;
  padding: 8px 13px;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.lang-btn1.selected,
.lang-btn2.selected,
.lang-btn3.selected {
  background-color: #ffffff;
  color: #002c4b;
}

.lang-btn.selected {
  background-color: #ffffff;
  color: #002c4b;
}

.lang-btn:not(.selected) {
  background: transparent;
  color: #ffffff;
}

.lang-btn:not(:last-child) {
  margin-right: 0;
}

.official-btn,
.ticket-btn {
  display: flex;
  align-items: center;
  font-family: 'Noto Serif CJK JP', serif;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 15px;
  margin: 20px 0;
  z-index: 100;
  transition: 0.3s ease;
}

.official-btn {
  color: white;
  margin-right: 20px;
}

.official-btn:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .official-btn {
    margin-right: 0;
  }
}

.ticket-btn {
  background-color: #ffffff;
  color: #002c4b;
}

.ticket-btn:hover {
  opacity: .5;
}

.arrow-image {
  width: 25px;
  height: 5.87px;
  margin-left: 5px;
}

.navbar {
  display: none;
}

@media screen and (max-width: 1100px) {
  .navbar {
    display: flex;
  }
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.line {
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  margin: 4px 0;
}

/* -----ハンバーガーアイコン---- */
.hamburger {
  display: none;
}

@media screen and (max-width: 1100px) {
  .hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
  }
}
.hamburger span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transition: 0.5s;
}
.hamburger span:first-of-type {
  top: 0;
}
.hamburger span:nth-of-type(2) {
  top: 50%;
}
.hamburger span:last-of-type {
  top: 100%;
}

.header-pc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 1100px) {
  .header-pc {
    display: none;
  }
}

.slide-menu {
  display: none;
}
@media screen and (max-width: 1100px) {
  .slide-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: 0.5s;
    height: 100vh;
    background-color: #002c4b;
    z-index: 99;
    overflow: hidden;
  }
}

.hamburger.active span:first-of-type {
  top: 50%;
  transform: rotate(405deg);
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:last-of-type {
  top: 50%;
  transform: rotate(-405deg);
}

.slide-menu.active {
  transform: translateX(0);
}
