.top7-main-container {
  height: 100vh;
}

.top7-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 600px;
  /* background-image: url("../../top/img/top7_img.jpg"); */
  background-image: url("/assets/sp/top/img/top7_img.jpg");
}

.top7-upper-text {
  position: absolute;
  font-size: 16px;
  line-height: 46px;
  top: 50px;
  left: 100px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
  font-family: "Noto Serif CJK JP";
}
@media screen and (max-width: 768px) {
  .top7-upper-text {
    left: 20px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
}

.top7-under-text {
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.03em;
  color: #002c4b;
  text-align: center;
  font-family: "Noto Serif CJK JP";
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .top7-under-text {
    margin-top: 50px;
    font-size: 13px;
    line-height: 28px;
    padding: 10px;
  }
}
