li {
  margin: 0;
  padding: 0;
}

.article-main {
  max-width: 900px;
  margin: auto;
}

.article_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  flex-direction: column;
  font-size: 3rem;
  font-weight: bold;
  margin: 60px 0 25px;
}

.article-title .SubText {
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 10px;
}

.middle-main-container {
  margin-bottom:30px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Container {
    overflow: hidden;
  }
}

.top-middle-container {
  background-color: #f5f8fc;
  border-radius: 8px;
  display: flex;
  font-size: 1.3rem;
  justify-content: space-around;
  padding: 30px 30px 12px;
  width: 100%;
  max-width: 868px;
}

@media screen and (max-width: 768px) {
  .top-middle-container {
    display: none;
  }
}

.MiddleContainerSP {
  display: none;
}

@media screen and (max-width: 768px) {
  .MiddleContainerSP {
    display: flex;
    width: 339px;
    padding: 15px 8px;
    border-radius: 8px;
    margin-bottom: 35px;
    justify-content: space-around;
    background-color: #f5f8fc;
  }
}

.TextContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  width: 25%;
}

.articleNav-list {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.articleNav-list >li{
  margin-bottom: 18px;
  width : calc(100% / 3) ;
}

.articleNav-list >li.__current,
.articleNav-list >li a:hover{
  border-bottom: 1px solid #a4b1ba;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.article-a {
  text-decoration: none;
}

.article-a:hover {
  opacity: 0.5;
}

.TextAll.__current a{
  border-bottom: 1px solid #a4b1ba;
  padding-bottom: 10px;
}

.spot-main-container {
  width: 806px;
}

@media screen and (max-width: 768px) {
  .spot-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.spot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 20px;
}

.spot-list >li{
  margin: 0 16px 30px;
  width: calc(100% / 3 - 32px);
  max-width: 270px;
}

@media screen and (max-width: 768px) {
  .spot-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.category-tag {
  display: flex;
  flex-wrap: wrap;
  margin:0 -5px 5px;
}

.category-tag >li{
  font-size: 1.1rem;
  margin: 0 5px 5px;
}

.category-tag a{
  background-color: #f5f8fc;
  border-radius: 8px;
  display: block;
  padding: 5px 10px;
}

.category-tag a:hover{
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .spot-tag {
    display: flex;
  }
}

.hover-area {
  transition: box-shadow 0.3s, opacity 0.3s;
}

.hover-area_img {
  border-radius: 8px;
  overflow: hidden;
}

.spot-image {
  max-width: 100%;
  margin-bottom: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  cursor: pointer;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .spot-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 204px;
  }
}

.hover-area:hover .spot-image {
  transform: scale(1.1);
}

.hover-area:hover::before {
  opacity: 1;
}

.spot-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: "Noto Serif JP", serif;
  color: #002c4b;
  font-size: 1.3rem;
  line-height: 1.7;
  margin: 0;
  padding: 8px;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 768px) {
  .spot-text {
    padding: 8px;
  }
}

.hover-area:hover .spot-text {
  opacity: 0.5;
}

.more_btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.more_btn:hover {
  opacity: 0.4;
}

.btn-text {
  font-size: 1.1rem;
    font-family: "Noto Serif JP", serif;
  border-bottom: 1px solid #a4b1ba;
  padding-bottom: 5px;
}

.plus-icon {
  font-size: 1.5rem;
  margin-left: 4px;
  color: #a4b1ba;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
