.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 768px;
  background-image: url("../../common/img/fotter_img.jpg");
  background-size: cover;
  background-position: center;
}

.title-image {
  width: 156.69px;
  height: 121.22px;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .text {
    text-align: left;
  }
}

.footer_text {
  font-size: 14px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer_text {
    text-align: center;
  }
}

.btn-container {
  display: flex;
  margin: 40px;
}
@media screen and (max-width: 768px) {
  .btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-self: center;
  }
}

.official-btn_footer {
  color: white;
  font-size: small;
  margin-right: 20px;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
}
@media screen and (max-width: 768px) {
  .official-btn_footer {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.ticket-btn {
  background-color: #ffffff;
  font-size: 11px;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #002c4b;
  display: flex;
  align-items: center;
}

.arrow-image {
  width: 25px;
  height: 5.87px;
  margin-left: 5px;
}

.page-top-btn {
  position: absolute;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #002c4b;
  font-size: 10px;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 8px 0 0 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.under-text {
  font-size: 10px;
  color: #ffffff;
}

.arrow-top-icon {
  width: 7px;
}
