.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #002c4b;
}

@media screen and (max-width: 768px) {
  .header-container {
    justify-content: space-between;
    padding: 10px;
  }
}

.header-title {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white;
  cursor: pointer;
}

.header-title:hover {
  opacity: 0.5;
}

.detail-container {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1100px) {
  .detail-container {
    display: none;
  }
}

.detail {
  position: relative;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-right: 20px;
  color: white;
}

.detail::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  visibility: hidden;
}

.detail.selected::before {
  visibility: visible;
}

.right-side-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .right-side-btn {
    display: none;
  }
}

.lang-btns-container {
  display: flex;
  border: none;
  height: 40px;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .lang-btns-container {
    margin-right: 0;
  }
}

.lang-btn1 {
  font-family: "Noto Sans CJK JP", sans-serif;
  background: transparent;
  border: 1px solid white;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  background: #002c4b;
  color: #ffffff;
  cursor: pointer;
}

.lang-btn2 {
  padding: 10px;
  font-family: "Noto Sans CJK JP", sans-serif;
  background: transparent;
  border: 1px solid white;
  border-right: none;
  border-left: none;
  background: #002c4b;
  color: #ffffff;
  cursor: pointer;
}

.lang-btn3 {
  padding: 10px;
  font-family: "Noto Sans CJK JP", sans-serif;
  background: transparent;
  border: 1px solid white;
  border-radius: 0 8px 8px 0;
  background: #002c4b;
  color: #ffffff;
  cursor: pointer;
}

.lang-btn1.selected,
.lang-btn2.selected,
.lang-btn3.selected {
  background-color: #ffffff;
  color: #002c4b;
}

.lang-btn:not(:last-child) {
  margin-right: 0;
}

.official-btn,
.ticket-btn {
  display: flex;
  align-items: center;
  font-family: "Noto Sans CJK JP", sans-serif;
  cursor: pointer;
  font-size: 10px;
  padding: 10px 15px;
  border-bottom: 2px solid #ffffff;
  margin: 20px 0;
}

.official-btn {
  color: white;
  margin-right: 20px;
}

.official-btn:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .official-btn {
    margin-right: 0;
  }
}

.ticket-btn {
  background-color: #ffffff;
  color: #002c4b;
}

.ticket-btn:hover {
  opacity: 0.5;
}

.arrow-image {
  width: 25px;
  height: 5.87px;
  margin-left: 5px;
}

.navbar {
  display: none;
}

@media screen and (max-width: 1100px) {
  .navbar {
    display: flex;
  }
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.line {
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  margin: 4px 0;
}

/* -----ハンバーガーアイコン---- */
.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    position: relative;
    display: block;
    width: 40px;
    height: 25px;
  }
}
.hamburger span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transition: 0.5s;
}
.hamburger span:first-of-type {
  top: 0;
}
.hamburger span:nth-of-type(2) {
  top: 50%;
}
.hamburger span:last-of-type {
  top: 100%;
}

.slide-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #002c4b;
  position: fixed;
  top: 65px;
  padding-top: 40px;
  width: 100%;
  left: 0;
  transform: translateX(100%);
  transition: 0.5s;
  height: 100vh;
}

.hamburger.active span:first-of-type {
  top: 50%;
  transform: rotate(405deg);
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:last-of-type {
  top: 50%;
  transform: rotate(-405deg);
}

.slide-menu.active {
  transform: translateX(0);
}
