body {
  color:#002c4b;
  font-family: "Noto Serif JP", serif;
}

a {
  color:#002c4b;
}

.article-main {
  max-width: 900px;
  margin: auto;
}

.article_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  flex-direction: column;
  font-size: 30px;
  color: #002c4b;
  margin-bottom: 15px;
  font-weight: 600;
}

.middle-main-container {
  margin-top: 50px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Container {
    overflow: hidden;
  }
}

.top-middle-container {
  display: flex;
  width: 900px;
  padding: 15px 8px;
  border-radius: 8px;
  margin-bottom: 35px;
  justify-content: space-around;
  background-color: #f5f8fc;
}

@media screen and (max-width: 768px) {
  .top-middle-container {
    display: none;
  }
}

.MiddleContainerSP {
  display: none;
}

@media screen and (max-width: 768px) {
  .MiddleContainerSP {
    display: flex;
    width: 339px;
    padding: 15px 8px;
    border-radius: 8px;
    margin-bottom: 35px;
    justify-content: space-around;
    background-color: #f5f8fc;
  }
}

.TextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.articleNav-list {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.articleNav-list >li{
  width : calc(100% / 3) ;
}

@media screen and (max-width: 768px) {
  .TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.article-a {
  text-decoration: none;
}

.article-a:hover {
  opacity: 0.5;
}

.TextAll a{
  color: #002c4b;
  font-size: 13px;
  border-bottom: 1px solid #a4b1ba;
  padding-bottom: 10px;
  cursor: pointer;
}

.spot-main-container {
  width: 806px;
}

@media screen and (max-width: 768px) {
  .spot-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.spot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.spot-list >li{
  margin-bottom: 30px;
  width : calc(100% / 3) ;
}

@media screen and (max-width: 768px) {
  .spot-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.category-tag {
  display: flex;
}

.category-tag a{
  background-color: #f5f8fc;
  border-radius: 8px;
  display: inline-block;
  font-size: 11px;
  margin-bottom: 10px;
  padding: 3px 6px;
}

@media screen and (max-width: 768px) {
  .spot-tag {
    display: flex;
  }
}

.hover-area {
  transition: box-shadow 0.3s, opacity 0.3s;
}

.hover-area_img {
  border-radius: 8px;
  overflow: hidden;
}

.spot-image {
  max-width: 100%;
  margin-bottom: 0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  cursor: pointer;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .spot-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 204px;
  }
}

.hover-area:hover .spot-image {
  transform: scale(1.1);
}

.hover-area:hover::before {
  opacity: 1;
}

.spot-text {
    font-family: "Noto Serif JP", serif;
  transition: opacity 0.3s ease;
  color: #002c4b;
  font-size: 13px;
  padding: 8px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .spot-text {
    padding: 8px;
  }
}

.hover-area:hover .spot-text {
  opacity: 0.5;
}

.more_btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.more_btn:hover {
  opacity: 0.4;
}

.btn-text {
  font-size: 11px;
    font-family: "Noto Serif JP", serif;
  border-bottom: 1px solid #a4b1ba;
  padding-bottom: 5px;
}

.plus-icon {
  font-size: 15px;
  margin-left: 4px;
  color: #a4b1ba;
}