.article_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-title {
  flex-direction: column;
  font-size: 30px;
  color: #002c4b;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "Noto Serif JP", serif;
}

.middle-main-container {
  margin-top: 50px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Container {
    overflow: hidden;
  }
}

.top-middle-container {
  display: flex;
  width: 900px;
  padding: 15px 8px;
  border-radius: 8px;
  margin-bottom: 35px;
  justify-content: space-around;
  background-color: #f5f8fc;
}

@media screen and (max-width: 768px) {
  .top-middle-container {
    display: none;
  }
}

.MiddleContainerSP {
  display: none;
}

@media screen and (max-width: 768px) {
  .MiddleContainerSP {
    display: flex;
    width: 339px;
    padding: 15px 8px;
    border-radius: 8px;
    margin-bottom: 35px;
    justify-content: space-around;
    background-color: #f5f8fc;
  }
}

.TextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .TextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.article_a {
  text-decoration: none;
}

.article_a:hover {
  opacity: 0.5;
}

.TextAll {
  color: #002c4b;
  font-family: "Noto Serif JP", serif;
  font-size: 13px;
  border-bottom: 1px solid #a4b1ba;
  padding-bottom: 10px;
  cursor: pointer;
}

.Text {
  color: #002c4b;
  font-family: "Noto Serif JP", serif;
  font-size: 13px;
  cursor: pointer;
}

.SpotContainer {
  width: 806px;
}

@media screen and (max-width: 768px) {
  .SpotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.spot_line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .spot_line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.SpotCard {
  flex-direction: column;
  margin: 0 25px;
}

.card_a {
  text-decoration: none;
}

.Tag {
  display: flex;
  justify-content: center;
  padding: 3px 6px;
  margin-bottom: 10px;
  font-size: 11px;
  border-radius: 8px;
  width: 114px;
  font-family: "Noto Serif JP", serif;
  background-color: #f5f8fc;
  color: #002c4b;
}

@media screen and (max-width: 768px) {
  .Tag {
    display: flex;
  }
}

.spot_image {
  width: 270px;
  height: 162px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .spot_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 204px;
    transition: transform 0.3s ease;
  }
}

.spot_image:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.spot_text {
  font-family: "Noto Serif JP", serif;
  color: #002c4b;
  font-size: 13px;
  padding: 8px;
}

.spot_text:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .spot_text {
    padding: 8px;
  }
}

.more_btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.more_btn:hover {
  opacity: 0.4;
}

.BtnText {
  font-size: 11px;
  font-family: "Noto Serif JP", serif;
  border-bottom: 1px solid #a4b1ba;
  padding-bottom: 5px;
}

.page-top-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  transition: opacity 0.3s ease;
}

.page-top-btn:hover {
  opacity: 0.4;
}

.Plus {
  font-size: 15px;
  margin-left: 4px;
  color: #a4b1ba;
}

.spot_line_hidden {
  display: none;
}
