.top5-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .top5-main-container {
    flex-direction: column;
    align-items: center;
  }
}

.top5-left-img {
  width: 768px;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .top5-left-img {
    width: 375px;
    height: 375px;
  }
}

.top5-text {
  display: flex;
  font-size: 1.6rem;
  line-height: 46px;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .top5-text {
    font-size: 0.5rem;
    line-height: 28px;
  }
}
