.top10-main-container {
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/top/img/top10_img.jpg");
  /* background-image: url("assets//top/img/top10_img.jpg"); */
  height: 100vh;
  width: 100%;
}
