.top9-main-container {
  width: 100%;
  height: 100vh;
}

.top9-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  height: 70vh;
  background-image: url("../../assets/top/img/top9_img.jpg");
  /* background-image: url("/asets/top/img/top9_img.jpg"); */
}

.top9-card-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  bottom: -100px;
}

.top9-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 340px;
  height: 211.56px;
  border-radius: 8px;
  margin: 0 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.top9-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top9-card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 340px;
  height: 211.56px;
  border-radius: 8px;
  margin: 0 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .top9-card1 {
    display: none;
  }
}

.top9-card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top9-p {
  font-size: 14px;
  color: black;
}
.top9-p1 {
  font-size: 14px;
  color: black;
}
