.top12-main-container {
  display: flex;
  align-items: center;
  height: 768px;
}

.top12-left-img {
  flex: 8;
  width: 1024px;
  height: 768px;
  object-fit: fill;
}

.top12-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #002c4b;
  width: 342px;
  height: 768px;
}

.top12-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.top12-more-btn:hover {
  opacity: 0.4;
}

.top12-text-btn {
  font-size: 11px;
  padding: 5px;
  margin-right: 10px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.top12-arrow-icon {
  width: 25px;
  height: 3px;
}
